body {

}

.cards_filter {
    position: relative;
    z-index: 1;
}

.modal_wrapper {
    background-color: white;
    width: 246px;
    height: 136px;
    position: absolute;
    z-index: 2;
    margin: 106px;
    opacity: 100%;
}

.result {
    color: cornflowerblue;
    text-align: center;
    font-size: 25px;
    font-weight: 700;
}

.button {
    color: white;
    margin-left: 70px;
    margin-bottom: 10px;
    background-image: linear-gradient(to right top, #26a092, #239190, #207f8e, #1f7d8e, #1c6e8b);
    width: 100px;
    height: 50px;
    border: 2px solid steelblue;
    border-radius: 5%;
    cursor: pointer;
}